name: Test Windows

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - ".github/workflows/docs.yml"
      - ".github/workflows/wheels*"
      - ".gitmodules"
      - "docs/**"
      - "wheels/**"
  pull_request:
    paths-ignore:
      - ".github/workflows/docs.yml"
      - ".github/workflows/wheels*"
      - ".gitmodules"
      - "docs/**"
      - "wheels/**"
  workflow_dispatch:

permissions:
  contents: read

env:
  COVERAGE_CORE: sysmon

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14"]
        architecture: ["x64"]
        os: ["windows-latest"]

    timeout-minutes: 45

    name: Python ${{ matrix.python-version }} (${{ matrix.architecture }})

    steps:
    - name: Checkout Pillow
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - uses: ilammy/msvc-dev-cmd@v1

    - name: Build dependencies
      run: |
        choco install wget
        wget https://github.com/google/highway/archive/1.3.0.tar.gz
        tar -xvzf 1.3.0.tar.gz

        cd highway-1.3.0
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_VERBOSE_MAKEFILE=ON -DBUILD_SHARED_LIBS=OFF -G "Ninja" -B "." -S .
        cmake --build "." --clean-first --parallel --target hwy
        dir
